"""
WSGI config for __DJSTART_PROJECT_NAME__ project.

It exposes the WSGI callable as a module-level variable named ``application``.

For more information on this file, see
https://docs.djangoproject.com/en/__DJSTART_DOCS_VERSION__/howto/deployment/wsgi/
"""

import os

from django.core.wsgi import get_wsgi_application

os.environ.setdefault('DJANGO_SETTINGS_MODULE', '__DJSTART_PROJECT_NAME__.settings')

application = get_wsgi_application()
