# Django settings
DJANGO_SECRET_KEY=change-me-to-a-real-secret-key
DJANGO_SETTINGS_MODULE=__DJSTART_PROJECT_NAME__.settings.production
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_DEBUG=false

# Database
DATABASE_URL=sqlite:///db.sqlite3
